<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visi dokumenti</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>

<body>
	<header>
		<img src="/images/logo.png" alt="Logo" class="header-logo">
	</header>
	<div class="back-button">
    	<a href="http://localhost:8080/document-page" class="button">Atpakaļ</a>
		</div>
    <h1>All documents</h1>
	<table>
	<tr th:each="document : ${myAllDocuments}">
		<td th:text="${document.getIddocument()}"></td>
		<td th:text="${document.getDocumentName()}"></td>
		<td th:text="${document.getFile()}"></td>
	</tr>
	
	
</table>	
</body>
</html>