<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visi dokumenti</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>

<body>
	
	<div class="back-button">
    	<a href="http://localhost:8080/document-page" class="button">Atpakaļ</a>
		</div>
    <h1>All documents</h1>
	<table>
	<tr th:each="document : ${myAllDocuments}">
		<td th:text="${document.getIddocument()}"></td>
		<td th:text="${document.getDocumentName()}"></td>
		<td th:text="${document.getFile()}"></td>
		<td>
            <a th:href="@{'/document/update/' + ${document.getIddocument()}}" class="button">Labot</a>
        </td>
        <td>
            <a th:href="@{'/document/delete/' + ${document.getIddocument()}}" class="button">Dzēst</a>
        </td>
        <td>
        	<a th:href="@{'/document/download/' + ${document.getIddocument()}}" class="button">Lejupielādēt</a>
        </td>
		
	</tr>
	
	
</table>	
</body>
</html>