<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visi iesniegumi</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<!-- hederis ar trīs daļām -->
    <div class="header-container">
        <!-- Kreisā mala -->
        <div class="header-left">
    		<h1>Visi iesniegumi</h1>
        </div>

        <!-- Vidus sadaļa -->
        <div class="header-middle">
            <img src="/images/logo.png" alt="Logo" class="header-logo">
        </div>

        <!-- Labā mala -->
        <div class="header-right">
        </div>
    </div>
		<div class="back-button">
    	<a href="http://localhost:8080/submission-page" class="button">Atpakaļ</a>
		</div>

	<table>
	<tr th:each="submission : ${myAllSubmissions}">
		<td th:text="${submission.getIdsubmission()}"></td>
		<td th:text="${submission.getSubmissionDate()}"></td>
		<td th:text="${submission.getFile()}"></td>
		<td>
            <a th:href="@{'/submission/update/' + ${submission.getIdsubmission()}}" class="button">Labot</a>
        </td>
        <td>
            <a th:href="@{'/submission/delete/' + ${submission.getIdsubmission()}}" class="button">Dzēst</a>
        </td>
	</tr>
	
	
</table>	
</body>
</html>