<!DOCTYPE html>
<html>
<head>
    <title>Kalendārais grafiks</title>
   <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #d8e3e0;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="back-button">
    <a href="http://localhost:8080/home-page" class="button">Atpakaļ</a>
	</div>
    <div class="container">
	    <div class="calendar-schedule-block">
	    <button class="menu-button" onclick="window.location.href='/Calendar-schedule/calendar-add'">
            <h3>Pievienot aktivitāti</h3>
        </button>
        
	    	<h1>Kalendārais grafiks</h1>
	    	<table>
		        <tr>
		            <th>Nr. p .k.</th>
		            <th>. ak. gada aktivitāte</th>
		            <th>Aktivitātes realizēšanas datums</th>
		        </tr>
		        <!-- Iterējam caur aktivitātēm un attēlojam informāciju -->
		        <tr th:each="activity : ${scheduleList}">
		        	<td th:text="${stat.count}"></td>
		            <td th:text="${activity.activity}"></td>
		            <td th:text="${activity.activityImplementation}"></td>
		            
		            <td><form action="/Calendar-schedule/remove-activity" method="post">
				            <input type="hidden" name="gads" th:value="${year}">
				            <input type="hidden" name="studioProgrammId" th:value="${programId}">
				            <input type="hidden" name="activityId" th:value="${activity.activityId}">
				            <button type="submit">Dzēst</button>
				        </form>
				    </td>
		        </tr>
	    	</table>
	    </div>
	  </div>  
</body>
</html>
