<!DOCTYPE html>
<html>
<head>
    <title>Kalendārais grafiks</title>
   <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #d8e3e0;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="back-button">
    <a href="http://localhost:8080/home-page" class="button">Atpakaļ</a>
	</div>
    <div class="container">
	    <div class="calendar-schedule-block">
	    <button class="menu-button" onclick="window.location.href='/Calendar-schedule/calendar-add'">
            <h3>Pievienot aktivitāti</h3>
        </button>
			<h1>Kalendārais grafiks</h1>
			    <table>
			        <thead>
			            <tr>
			                <th>Gads</th>
			                <th>Studiju programma</th>
			                <th>Aktivitāte</th>
			                <th>Aktivitātes beigu datums</th>
			                <th>Aktivitātes īstenošana</th>
			            </tr>
			        </thead>
			        <tbody>
			            <!-- Jaitere caur  -->
			            <tr th:each="schedule : ${schedules}">
			                <td th:text="${schedule.gads}"></td>
			                <td th:text="${schedule.studioProgrammTitle}"></td>
			                <td th:text="${schedule.activity}"></td>
			                <td th:text="${schedule.activityEndDate}"></td>
			                <td th:text="${schedule.activityImplementation}"></td>
			            </tr>
			        </tbody>
			    </table>
</body>
</html>
