<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Calendar Activity</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <!-- Galvenās lapas virsraksts un logo -->
	<!-- hederis ar trīs daļām -->
    <div class="header-container">
        <!-- Kreisā mala -->
        <div class="header-left">
    	    <h1>Labot kalendāra aktivitāti</h1>
        </div>

        <!-- Vidus sadaļa -->
        <div class="header-middle">
            <img src="/images/logo.png" alt="Logo" class="header-logo">
        </div>

        <!-- Labā mala -->
        <div class="header-right">
        </div>
    </div>

	

    <form th:action="@{'/Calendar-schedule/update/' + ${activity.idActivity}}" th:object="${activity}" method="post">
       
        <div>
            <label for="activity">Aktivitāte:</label>
            <input type="text" th:field="*{activity}" id="activity" />
        </div>

        <div>
            <label for="activityEndDate">Aktivitātes beigu datums:</label>
            <input type="date" th:field="*{activityEndDate}" id="activityEndDate" />
        </div>

        <div>
            <label for="activityImplementation">Aktivitātes īstenošana:</label>
            <input type="text" th:field="*{activityImplementation}" id="activityImplementation" />
        </div>

        <div>
            <input type="submit" value="Update" />
        </div>

    </form>

</body>

</html>
