<!DOCTYPE html>
<html>
<head>
    <title>Rediģēt kalendāra ierakstu</title>
</head>
<body>
    <h1>Rediģēt kalendāra ierakstu</h1>
    
    <!-- Attēlo jebkādus ziņojumus vai kļūdas paziņojumus, ja tie ir -->
    <p th:if="${message}" th:text="${message}"></p>

    <form method="post" action="/Calendar-schedule/update/{id}">
        <input type="text" name="gads" th:value="${schedule.gads}">
        <input type="text" name="studioProgrammTitle" th:value="${schedule.studioProgrammTitle}">
        <input type="text" name="activity" th:value="${schedule.activity}">
        <input type="text" name="activityEndDate" th:value="${schedule.activityEndDate}">
        <input type="text" name="activityImplementation" th:value="${schedule.activityImplementation}">
        
        <button type="submit">Saglabāt izmaiņas</button>
    </form>

    <a href="/Calendar-schedule">Atcelt</a>
</body>
</html>
