<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <title>Aktivitātes studiju programmā</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>

    <div class="back-button">
        <a href="http://localhost:8080/Calendar-schedule/studio-programms" class="button">Atpakaļ</a>
    </div>

    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li th:each="year : ${years}">
                    <button th:text="${year}" th:onclick="'window.location.href=\'/Calendar-schedule/studio-programms/' + ${programm.idstprog} + '?year=' + ${year} + '\''"></button>
                </li>
            </ul>
        </div>
        <div class="content">
            <h1>Aktivitātes studiju programmā: <span th:text="${programm.title}"></span></h1>
            <table>
                <thead>
                    <tr>
                        <th>Aktivitāte</th>
                        <th>Aktivitātes īstenošana</th>
                        <th>Darbības</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterēt caur sarakstu ar kalendāra ierakstiem šai programmai -->
                    <th:block th:each="schedule : ${schedules}">
                        <tr>
                            <td th:text="${schedule.activity}"></td>
                            <td th:text="${schedule.activityImplementation}"></td>
                            <td>
                                <form method="post" th:action="@{'/Calendar-schedule/delete/' + ${schedule.idActivity}}">
                                    <button type="submit">Dzēst</button>
                                </form>
                                <form method="get" th:action="@{'/Calendar-schedule/edit/' + ${schedule.idActivity}}">

                                    <button type="submit">Editēt</button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
