<!DOCTYPE html>
<html>

<head>
    <title>Iesniegumi</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

	<!-- hederis ar trīs daļām -->
    <div class="header-container">
        <!-- Kreisā mala -->
        <div class="header-left">
    		 <h1>Dokumenti</h1>
        </div>

        <!-- Vidus sadaļa -->
        <div class="header-middle">
            <img src="/images/logo.png" alt="Logo" class="header-logo">
        </div>

        <!-- Labā mala -->
        <div class="header-right">
        </div>
    </div>
    
    <div class="saites-block">
            <!-- /*janorada buspectam saites kur pogas aizved*/ -->

            <a href="/document-page" class="menu-button"><h3 data-translation="Dokumenti">Dokumenti</h3></a>
            <br>
            <a href="/submission-page" class="menu-button"><h3 data-translation="Iesniegumi">Iesniegumi</h3></a>
            <br>
            <button class="menu-button"><h3 data-translation="Aizstāvēšana">Aizstāvēšana</h3></button>
            <br>
            <a href="/itftable-page/review" class="menu-button"><h3 data-translation="ITF Dome">ITF Dome</h3></a>
            <br>

            <button class="menu-button"><h3 data-translation="Darbu Izstrade">Darbu Izstrade</h3></button>
            <br>

            <button class="menu-button" onclick="window.location.href='http://localhost:8080/Calendar-schedule'">
                <h3 data-translation="Kalendarais Grafiks">Kalendarais Grafiks</h3>
            </button>

            <br>
            <button class="menu-button"><h3 data-translation="Arhivs">Arhivs</h3></button>
        </div>
    
    <div class="news-block">
            <h1 data-translation="Dokumenti">Dokumenti</h1>
            <table>
            
            	<tr>
	                <th data-translation="Nosaukums">Nosaukums</th>
	                <th data-translation="Faila nosaukums">Faila nosaukums</th>
            	</tr>
            
				<tr th:each="document : ${myAllDoc}">
					<td th:text="${document.getDocumentName()}"></td>
					<td th:text="${document.getFile()}"></td>
				</tr>
	
	
</table>
            <!-- Izveidot pogu, kas noved uz jaunu dokumentu pievienošanas formas -->
            <a href="/document-page/create-documents" data-translation="Izveidot dokumentu">Izveidot dokumentu</a>
            
            <a href="/document/showAll" data-translation="Visi dokumenti">Visi dokumenti</a>
        </div>
    
    
    
    <button id="translateToEnglishButton">Tulkot uz EN</button>
    <button id="translateToLatvianButton">Tulkot uz LV</button>
    
    <div id="translatedContent"></div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            var translateButton = document.getElementById("translateToEnglishButton");
            translateToEnglishButton.addEventListener("click", function() {
                translatePage("lv", "en");
            });
            var translateToLatvianButton = document.getElementById("translateToLatvianButton");
            translateToLatvianButton.addEventListener("click", function() {
                translatePage("en", "lv");
            });
        });

        function translatePage(langFrom, langTo) {
            
            var translatedContent = document.getElementById("translatedContent");
            
            // Atrodam visus elementus ar data-translation atribūtu
            var elementsToTranslate = document.querySelectorAll("[data-translation]");

            elementsToTranslate.forEach(function(element) {
                var textToTranslate = element.getAttribute("data-translation");
                translate(langFrom, langTo, textToTranslate)
                    .then(function (translatedText) {
                        // Aizstājam esošo tekstu ar tulkojumu
                        element.innerText = translatedText;
                    })
                    .catch(function (error) {
                        console.error("Kļūda tulkojot: " + error);
                    });
            });
        }

        function translate(langFrom, langTo, text) {
            return new Promise(function (resolve, reject) {
                var apiURL = "https://translation.googleapis.com/language/translate/v2?key=AIzaSyBlYOjlzJujaFAi0mnIMbjKWzzK3Yo9dnQ";
                var data = new FormData();
                data.append("q", text);
                data.append("source", langFrom);
                data.append("target", langTo);

                fetch(apiURL, {
                    method: 'POST',
                    body: data,
                })
                .then(response => response.json())
                .then(data => {
                    resolve(data.data.translations[0].translatedText);
                })
                .catch(error => {
                    reject("HTTP pieprasījuma kļūda");
                });
            });
        }
    </script>
    
    
    
    
    

</body>
</html>