<html xmlns:th="http://www.thymeleaf.org">

<head>
		<title>Iesnieguma pievienošana</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	
	<body>
		<header>
			<img src="/images/logo.png" alt="Logo" class="header-logo">
		</header>
	<h1>Dokumenta labošana</h1>


	<form action="#"  th:action="@{/document/update/__${iddocument}__}"  th:object="${document}"   method="post">
		<table>
			<tr>
				<td>Document name: </td>
				<td><input type="text" th:field="*{documentName}"   />  </td>
				<td th:if="${#fields.hasErrors('documentName')}" th:errors="*{documentName}"> </td>
			</tr>
			
			<tr>
				<td>Document file: </td>
				<td><input type="text" th:field="*{file}"   />  </td>
				<td th:if="${#fields.hasErrors('file')}" th:errors="*{file}"> </td>
			</tr>
			
		
			<tr>
				<td> <button type="submit"> Save document </button> </td>
			</tr>	
		</table>
		
		
	</form>
	
	</body>
</html>