<!DOCTYPE html>
<html>

<head>
    <title>Iesniegumi</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>
    
    <div class="saites-block">
            <!-- /*janorada buspectam saites kur pogas aizved*/ -->

            <a href="/document-page" class="menu-button"><h3 th:text="${TranslateDocuments}"></h3></a>
            <br>
            <a href="/submission-page" class="menu-button"><h3 th:text="${TranslateIesnieg}"></h3></a>
            <br>
            <button class="menu-button"><h3 th:text="${TranslateAiztavesana}"></h3></button>
            <br>
            <a href="/itftable-page/review" class="menu-button"><h3 th:text="${TranslateITFDome}"></h3></a>
            <br>
            <button class="menu-button"><h3 th:text="${TranslateDarbuIzstrade}"></h3></button>
            <br>

            <button class="menu-button" onclick="window.location.href='http://localhost:8080/Calendar-schedule'">
                <h3 th:text="${TranslateKalendaraisGrafiks}"></h3>
            </button>
            <br>
            <button class="menu-button"><h3 th:text="${TranslateArhivs}"></h3></button>
        </div>
    
    <div class="news-block">
            <h1>Dokumenti</h1>
            <table>
            
            	<tr>
	                <th>Nosaukums</th>
	                <th>Faila nosaukums</th>
            	</tr>
            
				<tr th:each="document : ${myAllDoc}">
					<td th:text="${document.getDocumentName()}"></td>
					<td th:text="${document.getFile()}"></td>
				</tr>
	
	
</table>
            <!-- Izveidot pogu, kas noved uz jaunu dokumentu pievienošanas formas -->
            <a href="/document-page/create-documents">Izveidot dokumentu</a>
            
            <a href="/document/showAll">Visi dokumenti</a>
        </div>
    
    
    
    
    
    
    
    
    
    

</body>
</html>