<!DOCTYPE html>
<html>
<head>
</head>
	<!-- hederis ar trīs daļām -->
    <div class="header-container">
        <!-- Kreisā mala -->
        <div class="header-left">
    		<h1>Izdēst dokumentu</h1>
        </div>

        <!-- Vidus sadaļa -->
        <div class="header-middle">
            <img src="/images/logo.png" alt="Logo" class="header-logo">
        </div>

        <!-- Labā mala -->
        <div class="header-right">
        </div>
    </div>
<body>

    <p>Vai tiešām vēlies dzēst šo dokumentu?</p>
    <h2>Nsakums: <span th:text="${document.documentName}"></span></h2>
    <p>Apraksts: <span th:text="${document.file}"></span></p>

    <form th:action="@{/document-page/delete-document/{iddocument}(iddocument=${document.iddocument})}" method="POST">
        <button type="submit">Dzēst</button>
    </form>
    
    <a href="/home-page">Uz sākumlapu</a>
</body>
</html>