<!DOCTYPE html>
<html>

<head>
    <title>Iesniegumi</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>
    
    <div class="saites-block">
        	 <!-- /*janorada buspectam saites kur pogas aizved*/ -->
        	
            <a href="/document-page" class="menu-button"><h3>Dokumenti</h3></a>
            <br>
            <a href="/submission-page" class="menu-button"><h3>Iesniegšana</h3></a>
            <br>
            <button class="menu-button"><h3>Aizstāvēšana</h3></button>
            <br>
            <button class="menu-button"><h3>ITF Dome</h3></button>
            <br>
            <button class="menu-button"><h3>Darbu izstrāde</h3></button>
            <br>
            <button class="menu-button"><h3>Kalendārais grafiks</h3></button>
            <br>
            <button class="menu-button"><h3>Arhīvs</h3></button>
        </div>
    
    <div class="news-block">
            <h1>Dokumenti</h1>
            <table class="news-table" style = "width: 100%;">
                <tr th:each="submission : ${myAllSubmissions}">
                    <th>
                        <h3 class="news-title" th:text="${document.documentName}"></h3>
                    </th>
                    <td colspan="2">
                        <p class="news-description" th:text="${document.file}"></p>
                    </td>
                    <td class="action-buttons">
                        <a th:href="@{/document-page/update-document/{iddocument}(iddocument=${document.iddocument})}">Labot</a>
                        <a th:href="@{/document-page/delete-document/{iddocument}(iddocument=${document.iddocument})}">Dzēst</a>
                    </td>
                </tr>
            </table>
            <!-- Izveidot pogu, kas noved uz jaunu dokumentu pievienošanas formas -->
            <a href="/document-page/create-documents">Izveidot dokumentu</a>
            
            
        </div>
    
    
    
    
    
    
    
    
    
    

</body>
</html>