<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <!-- Iterējam caur visiem aktīvajiem jaunumiem -->
        <th:block th:each="news : ${activeNewsList}">
            <tr>
                <td th:text="${news.title}"></td>
                <td th:text="${news.description}"></td>
                <td>
                    <a th:href="@{/home-page/edit/{newsId}(newsId=${news.idNews})}">Edit</a>
                    <a th:href="@{/home-page/delete/{newsId}(newsId=${news.idNews})}">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>
    <a th:href="@{/home-page/create}">Add News</a>
</body>
</html>
