<!DOCTYPE html>
<html>


<head>
    <title>Sākumlapa</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header class="header">
	    <img src="/images/logo.png" alt="Logo" class="header-logo">
	    <a href="/studioprogramms" class="button">Studiju Programmas</a>
	</header>

    <div class="container">
        <div class="saites-block">
            <!-- /*janorada buspectam saites kur pogas aizved*/ -->

            <a href="/document-page" class="menu-button"><h3 th:text="${TranslateDocuments}"></h3></a>
            <br>
            <a href="/submission-page" class="menu-button"><h3 th:text="${TranslateIesnieg}"></h3></a>
            <br>
            <button class="menu-button"><h3 th:text="${TranslateAiztavesana}"></h3></button>
            <br>
            <a href="/itftable-page/review" class="menu-button"><h3 th:text="${TranslateITFDome}"></h3></a>
            <br>

            <button class="menu-button"><h3 th:text="${TranslateDarbuIzstrade}"></h3></button>
            <br>

            <button class="menu-button" onclick="window.location.href='http://localhost:8080/Calendar-schedule'">
                <h3 th:text="${TranslateKalendaraisGrafiks}"></h3>
            </button>

            <button class="menu-button"><h3>Darbu izstrāde</h3></button>
            <br>            
            <a href="/Calendar-schedule/studio-programms" class="menu-button"><h3>Kalendārais grafiks</h3></a>

            <br>
            <button class="menu-button"><h3 th:text="${TranslateArhivs}"></h3></button>
        </div>

        <div class="news-block">
            <h1 th:text="${TranslateJaunumi}"></h1>
            <table class="news-table" style="width: 100%;">
                <!-- Iterēt caur newsList un attēlot jaunumus -->
                <tr th:each="news : ${activeNewsList}">
                    <th>
                        <h3 class="news-title" th:text="${news.title}"></h3>
                    </th>
                    <td colspan="2">
                        <p class="news-description" th:text="${news.description}"></p>
                    </td>
                    <td class="action-buttons">
                        <a th:href="@{/home-page/edit-news/{newsId}(newsId=${news.idNews})}">Labot</a>
                        <a th:href="@{/home-page/delete-news/{newsId}(newsId=${news.idNews})}">Dzēst</a>
                    </td>
                </tr>
            </table>
            <!-- Izveidot pogu, kas noved uz jaunu jaunumu pievienošanas formu -->
            <a href="/home-page/create-news">Izveidot jaunumu</a>
            <br>
            <!-- Visi jaunumi -->
            <a href="/home-page/all-news">Visi jaunumi</a>
        </div>

        <div class="calendar-block">
            <h1 th:text="${TranslateKalendaraisGrafiksBlock}">Kalendārais grafiks</h1>
            <hr>
            <table>
                <tr>
                    <th>End Date</th>
                    <th>Activity</th>
                </tr>
                <!-- Iterēt caur activeDates un attēlot aktivitātes -->
                <tr th:each="activities : ${activeDatesList}">
                    <td th:text="${activities.activityDate}"></td>
                    <td th:text="${activities.activiti}"></td>
                </tr>
            </table>
        </div>
    </div>

    <button id="translateButton">Tulkot uz angļu</button>
    <div id="translatedContent"></div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            var translateButton = document.getElementById("translateButton");
            translateButton.addEventListener("click", function() {
                translatePageToEnglish();
            });
        });

        function translatePageToEnglish() {
            var langFrom = "lv";
            var langTo = "en";
            var textToTranslate = document.body.innerText;
            var translatedContent = document.getElementById("translatedContent");

            translate(langFrom, langTo, textToTranslate)
                .then(function (translatedText) {
                    translatedContent.innerHTML = translatedText;
                })
                .catch(function (error) {
                    console.error("Kļūda tulkojot: " + error);
                });
        }

        function translate(langFrom, langTo, text) {
            return new Promise(function (resolve, reject) {
                var apiURL = "https://translation.googleapis.com/language/translate/v2?key=AIzaSyBlYOjlzJujaFAi0mnIMbjKWzzK3Yo9dnQ";
                var data = new FormData();
                data.append("q", text);
                data.append("source", langFrom);
                data.append("target", langTo);

                fetch(apiURL, {
                    method: 'POST',
                    body: data,
                })
                .then(response => response.json())
                .then(data => {
                    resolve(data.data.translations[0].translatedText);
                })
                .catch(error => {
                    reject("HTTP pieprasījuma kļūda");
                });
            });
        }
    </script>
</body>

</html>