<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izdēst jaunumu</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <h1>Izdēst jaunumu</h1>
    </header>
    
    <div class="content">
        <p>Vai tiešām vēlies dzēst šo jaunumu?</p>
        <h2>Nosaukums: <span th:text="${news.title}"></span></h2>
        <p>Apraksts: <span th:text="${news.description}"></span></p>
        <p>Sākuma datums: <span th:text="${news.startDate}"></span></p>
        <p>Beigu datums: <span th:text="${news.endDate}"></span></p>

        <form th:action="@{/home-page/delete-news/{newsId}(newsId=${news.idNews})}" method="POST">
            <div class="button-container">
                <button type="submit" class="btn-bck">Dzēst</button> <a href="/home-page" class="btn-bck" data-translation="Atcelt">Atcelt</a>
            </div>
        </form>
    </div>
    
</body>
</html>
