<!DOCTYPE html>
<html>
<head>
    <title>Pievienot Jaunumu</title>
</head>
<body>
    <h1>Pievienot Jaunumu</h1>
    
    <!-- Atpakaļpoga -->
    <a href="/home-page" class="btn-bck" data-translation="Atpakaļ">Atpakaļ</a>
    <div style="margin-top: 20px;"></div> <!-- Tukša rinda ar stilu -->
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <form method="post" th:action="@{/home-page/create-news}">
        <label for="title">Nosaukums:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="description">Apraksts:</label>
        <input type="text" id="description" name="description" required><br>
        <label for="startDate">Sākuma datums:</label>
        <input type="date" id="startDate" name="startDate" required><br>
        <label for="endDate">Beigu datums:</label>
        <input type="date" id="endDate" name="endDate" required><br>
        <input type="submit" value="Pievienot" class="btn-bck">
    </form>

</body>
</html>
