<!DOCTYPE html>
<html>

<head>
    <title>Lietotāja labošana</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

	<!-- hederis ar trīs daļām -->
    <div class="header-container">
        <!-- Kreisā mala -->
        <div class="header-left">
    		 <h1></h1>
        </div>

        <!-- Vidus sadaļa -->
        <div class="header-middle">
            <img src="/images/logo.png" alt="Logo" class="header-logo">
        </div>

        <!-- Labā mala -->
        <div class="header-right">
        </div>
    </div>
    
    
     <div class="news-block">
        <h1>Lietotāja labošana</h1>
        <form th:object="${person}" th:action="@{'/person/updateById/' + ${person.idperson}}" method="post">
		    <!-- Jūsu rediģējamie lauki -->
		    <label>Vārds: </label><input type="text" th:field="*{name}" />
		    <br/>
		    <label>Uzvārds: </label><input type="text" th:field="*{surname}" />
		    <br/>
		    <label>Personas kods: </label><input type="text" th:field="*{personcode}" />
		    <br/>
		    <label>Loma: </label><input type="text" th:field="*{role}" />
		    <br/>
		</form>
		<form action="/person/showAll">
            <input type="submit" value="Saglabāt izmaiņas">
        </form>
    </div>

    
    
    
    
    
    
    

</body>
</html>