<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<title>Iesnieguma pievienošana</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	
	<body>
    <!-- Galvenās lapas virsraksts un logo -->
	<!-- hederis ar trīs daļām -->
    <div class="header-container">
        <!-- Kreisā mala -->
        <div class="header-left">
    		<h1>Iesniegumu pievienošana</h1>
        </div>

        <!-- Vidus sadaļa -->
        <div class="header-middle">
            <img src="/images/logo.png" alt="Logo" class="header-logo">
        </div>

        <!-- Labā mala -->
        <div class="header-right">
        </div>
    </div>
		<div class="back-button">
    	<a href="http://localhost:8080/submission-page" class="button">Atpakaļ</a>
		</div>
	<h1>Iesnieguma pievienošana</h1>

	<form action="#"  th:action="@{/submission/insert}"  th:object="${submission}"   method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<label for="submissionDate">Submission date:</label>
        		<input type="date" id="submissionDate" name="submissionDate" required><br>
				
				<td th:if="${#fields.hasErrors('submissionDate')}" th:errors="*{submissionDate}"> Invalid date </td>
			</tr>
			
			<tr>
				<td>Submission file:</td>
				<td><input type="file" name="file" accept=".pdf, .odt" /></td>
			</tr>
			
			<tr>
				<td> <button type="submit"> Save submission </button> </td>
			</tr>	
		</table>
		
		
	</form>
	
	</body>
</html>
