<!DOCTYPE html>
<html>

<head>
    <title>Iesniegumi</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header>
        <img src="/images/logo.png" alt="Logo" class="header-logo">
    </header>
    
    <div class="saites-block">
        	 <!-- /*janorada buspectam saites kur pogas aizved*/ -->
        	
            <a href="/document-page" class="menu-button"><h3>Dokumenti</h3></a>
            <br>
            <a href="/submission-page" class="menu-button"><h3>Iesniegšana</h3></a>
            <br>
            <button class="menu-button"><h3>Aizstāvēšana</h3></button>
            <br>
            <a href="/itftable-page/review" class="menu-button"><h3>ITF Dome</h3></a>
            <br>
            <button class="menu-button"><h3>Darbu izstrāde</h3></button>
            <br>
            <button class="menu-button" onclick="window.location.href='http://localhost:8080/Calendar-schedule'">
           <h3>Kalendārais grafiks</h3>
      </button>
            <br>
            <button class="menu-button"><h3>Arhīvs</h3></button>
        </div>
    
    <div class="news-block">
    <h1>Iesniegumi</h1>
    <div class="submission" style="display: flex; justify-content: space-between; align-items: center;">
    	<h2 class="submission-title" style="text-align: left;"> Noslēgumi darbs</h2>
    	<a href="/submission/insert" class="submission-button">Pievienot</a>
	</div>
    <div class="submission" style="display: flex; justify-content: space-between; align-items: center;">
        <h2 class="submission-title" style="text-align: left;">Noslēgumu darba tēma</h2>
        <a href="/submission/insert" class="submission-button">Pievienot</a>
    </div>
    <div class="submission" style="display: flex; justify-content: space-between; align-items: center;">
    	<a href="/submission/showAll" class="submission-button">Visi iesniegumi</a>
    </div>
    
</div>
    


    
    
    
    
    
    
    

</body>
</html>