<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ITF Domes Tabula</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	
	<body>
		<header>
			<img src="/images/logo.png" alt="Logo" class="header-logo">
		</header>
		
		<button id="translateToEnglishButton">Tulkot uz EN</button>
    <button id="translateToLatvianButton">Tulkot uz LV</button>
    
    <div id="translatedContent"></div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            var translateButton = document.getElementById("translateToEnglishButton");
            translateToEnglishButton.addEventListener("click", function() {
                translatePage("lv", "en");
            });
            var translateToLatvianButton = document.getElementById("translateToLatvianButton");
            translateToLatvianButton.addEventListener("click", function() {
                translatePage("en", "lv");
            });
        });

        function translatePage(langFrom, langTo) {
            
            var translatedContent = document.getElementById("translatedContent");
            
            // Atrodam visus elementus ar data-translation atribūtu
            var elementsToTranslate = document.querySelectorAll("[data-translation]");

            elementsToTranslate.forEach(function(element) {
                var textToTranslate = element.getAttribute("data-translation");
                translate(langFrom, langTo, textToTranslate)
                    .then(function (translatedText) {
                        // Aizstājam esošo tekstu ar tulkojumu
                        element.innerText = translatedText;
                    })
                    .catch(function (error) {
                        console.error("Kļūda tulkojot: " + error);
                    });
            });
        }

        function translate(langFrom, langTo, text) {
            return new Promise(function (resolve, reject) {
                var apiURL = "https://translation.googleapis.com/language/translate/v2?key=AIzaSyBlYOjlzJujaFAi0mnIMbjKWzzK3Yo9dnQ";
                var data = new FormData();
                data.append("q", text);
                data.append("source", langFrom);
                data.append("target", langTo);

                fetch(apiURL, {
                    method: 'POST',
                    body: data,
                })
                .then(response => response.json())
                .then(data => {
                    resolve(data.data.translations[0].translatedText);
                })
                .catch(error => {
                    reject("HTTP pieprasījuma kļūda");
                });
            });
        }
    </script>
    
		<div class="thesis-block">
			<h1 class="thesis-title" data-translation="ITF Domes Tabula">ITF Domes Tabula</h1>
			<div class="btn-right">
				<a href="/itftable-page/create" ><input  class="btn-bck"
    			type="button" value="Pievienot"/></a><br><br>
    		</div>
			<table class="thesis-table">
				<tr>
					<th data-translation="ID">ID</th>
					<th data-translation="Students">Students</th>
					<th data-translation="Nosaukums EN">Nosaukums EN</th>
					<th data-translation="Nosaukums LV">Nosaukums LV</th>
					<th data-translation="Darba Vadītājs">Darba Vadītājs</th>
					<th data-translation="Recenzents">Recenzents</th>
					<th data-translation="Mērķis">Mērķis</th>
					<th data-translation="Uzdevumi">Uzdevumi</th>
					<th data-translation="Statuss no DV">Statuss no DV</th>
					<th data-translation="Statuss">Statuss</th>
					<th:block th:if="${temp != null}">
						<ul>
							<li th:each="comment : ${temp.getComments() }">
								<span th:text="${comment.getSupervisor().getName() + ' ' + comment.getSupervisor().getSurname()}">Supervisor</span>
							</li>
						</ul>
					</th:block>
					<th> </th>
					<th> </th>
					<th data-translation="Pēdējo reizi mainīts">Pēdējo reizi mainīts</th>
					<th data-translation="Pēdējo reizi mainīja">Pēdējo reizi mainīja</th>
				</tr>
				<tr th:each="temp : ${allThesises}">
					<td th:text="${temp.getIdthesis()}"> </td>
					<td th:text="${temp.getStudent().getName() + ' ' + temp.getStudent().getSurname()}"> </td>
					<td th:text="${temp.getTitleEn()}"> </td>
					<td th:text="${temp.getTitleLv()}"> </td>
					<td th:text="${temp.getSupervisor().getName() + ' ' + temp.getSupervisor().getSurname()}"> </td>
					<td th:text="${temp.getReviewers().isEmpty() ? '' : temp.getReviewers().iterator().next().getName() + ' ' + temp.getReviewers().iterator().next().getSurname()}"> </td>
					<td th:text="${temp.getGoal()}"> </td>
					<td th:text="${temp.getTasks()}"> </td>
					<td th:text="${temp.isStatusFromSupervisor()}"> </td>
					<td th:text="${temp.getAccStatus()}"> </td>
					<td>
						<ul>
							<li th:each="comment : ${temp.getComments() }">
								<span th:text="${comment.getDescription() }">Description</span><br>
								<a th:href="@{/itftable-page/delete-comment/{idcom}(idcom=${comment.getIdcom()})}">
    						<input type="button" value="Dzēst"/></a> <br>
    						<a th:href="@{/itftable-page/edit-comment/{idcom}(idcom=${comment.getIdcom()})}">
    						<input type="button" value="Rediģēt"/></a>
							</li>
						</ul>
					</td>
					<td class="action-buttons">
						<a th:href="@{/itftable-page/edit/{idthesis}(idthesis=${temp.getIdthesis()})}" >
							<input  class="btn-bck" type="button" value="Rediģēt"/></a> <br>
    					<a th:href="@{/itftable-page/delete/{idthesis}(idthesis=${temp.getIdthesis()})}">
    						<input  class="btn-bck" type="button" value="Dzēst"/></a>
    				</td>
    				<td th:text="${temp.getLastModifiedDate()}"> </td>
    				<td th:text="${temp.getLastModifiedBy()}"> </td>
    				
				</tr>
			</table>
			<div class="btn-right">
				<a href="/itftable-page/create-comment" ><input  class="btn-bck"
    			type="button" value="Pievienot komentāru"/></a><br><br>
    		</div>
			<!-- Poga Atpakaļ -->
			<a href="/home-page" class="btn-bck" data-translation="Atpakaļ">Atpakaļ</a>
		</div>
		
	</body>
</html>