<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Izdzēst Ierakstu no ITF Domes tabulas</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  
  <header>
    <img src="/images/logo.png" alt="Logo" class="header-logo">
  </header>
  
  <body>
    <div class="thesis-table">
      <h1>Izdzēst ierakstu no ITF Domes tabulas</h1>
      <p>Nosaukums angliski: <span th:text="${thesis.titleEn}"></span></p>
      <p>Nosaukums latviski: <span th:text="${thesis.titleLv}"></span></p>
      <p>Mērķis: <span th:text="${thesis.goal}"></span></p>
      <p>Uzdevumi: <span th:text="${thesis.tasks}"></span></p>
      <p>Statuss: <span th:text="${thesis.acccStatus}"></span></p>
      <p>Students: <span th:value="${student.idperson}" th:text="${student.name + ' ' + student.surname}"></span></p>
      <p>Darba vadītājs: <span th:value="${supervisor.idperson}" th:text="${supervisor.name + ' ' + supervisor.surname}"></span></p>
      <p>Recenzents: <span th:value="${reviewers.idperson}" th:text="${reviewers.name + ' ' + reviewers.surname}"></span></p>
      <p>Komentārs: <span><ul>
              <li th:each="comment : ${temp.getComments() }">
                <span th:text="${comment.getDescription() }">Description</span>
              </li>
            </ul></span></p>
      <form action="#" th:action="@{/itftable-page/delete/${idthesis}(idthesis=${thesis.idthesis})}" method="post">
        <button type="submit">Dzēst</button>
      </form>
      <a href="/home-page">Atpakaļ</a>
    </div>
  </body>
</html>